name: Deploy to GH Pages Branch

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # This tells the action to take the contents of public/ 
          # and move them to the ROOT of the github-pages branch.
          publish_dir: ./public 
          publish_branch: github-pages